name: Pylint

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [task_service, user_service]
    defaults:
      run:
        working-directory: ${{ matrix.service }}
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install dependencies
      run: pip install -r ../requirements.txt
    - name: Analysing the code with pylint
      run: |
        pylint --rcfile=../.pylintrc app/
